extends index

block content
  .row.justify-content-center
    .col-xl-2
      .card.mb-3.small.shadow-sm
        .card-header=__("Currently Online")
          | &nbsp;(#{slots.onlineCount}/#{slots.maxCount})
        ul.list-group.list-group-flush
          if players.length>0
            each player in players
              li.list-group-item=player.name
                if player.admin=="true"
                  span.top-0.ms-2.badge.rounded-pill.bg-danger
                    | admin
                span.float-end=player.uptime
          else
            li.list-group-item=__("No Player online")
        .card-footer=__("Money") + ":"
          span.float-end #{game.money}
    .col-xl-auto
      #map
    .col-xl-2
      .card.mb-3.small.shadow-sm
        .card-header=__("Icon Legend")
        ul.list-group.list-group-flush
          each icon in icons
            li.list-group-item
              img(src="/images/icons/"+icon.icon height='20').me-3
              =__("entity_" + icon.desc)
      .card.mb-3.small.shadow-sm
        .card-header=__("Server Details")
        ul.list-group.list-group-flush
          li.list-group-item
            b=__("Map")
            span.float-end #{game.mapname}
          li.list-group-item
            b=__("Time Scale")
            span.float-end #{game.timeScale}
          li.list-group-item
            b=__("Save Interval")
            span.float-end #{game.saveInterval}
          li.list-group-item
            b=__("Server-Version")
            span.float-end #{server.version}