extends index

block content
  section
    .content
      .container
        .row
          .col-xl-9
            #map
          .col-xl-3
            .row
              h6
                | Currently Online (
                span #{server.onlineCount}
                | /
                span #{server.maxCount}
                | )
              table.table.small.table-sm.shadow-sm
                tbody
                  if entities.players.length>0
                    each player in entities.players
                      tr
                        td=player.name
                        td.push-right=player.uptime
                        if player.admin=="true"
                          td
                            span.badge.badge-pill.badge-danger admin
                  else
                    tr
                      td No Players online
            .row
              h6 High Demands
              table.table.small.table-sm.shadow-sm
                tbody#highDemands
                tfoot
                  tr.text-muted
                    td Total Money:
                    td.text-left(colspan='5') #{server.money}
            .row
              h6 Icon Legend
              table.table.small.table-sm.shadow-sm
                tbody
                  each icon in config.icons
                    tr
                      td(width='20')
                        img(src="/images/icons/"+icon.icon height='16')
                      td #{icon.desc}

            .row
              h6 Settings
              table.table.small.table-sm.shadow-sm
                tr
                  td
                    b Map
                  td #{server.name}
                tr
                  td
                    b Time Scale
                  td #{server.timeScale}
                tr
                  td
                    b Save Interval
                  td #{server.saveInterval}
                tr
                  td
                    b Version
                  td #{server.version}
