mixin navigation
  nav.navbar.fixed-top.navbar-expand-lg.navbar-dark
    .container
      a.navbar-brand(href='/')
        img.d-inline-block.align-top(src="/images/Oasis_Favicon.png", height='30', alt='')
        span.d-inline-block.ms-2 #{server.name} - Live Map
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/', class=currentPage==="/"?"active":"")=__("Map")
        li.nav-item
          a.nav-link(href='/mods', class=currentPage==="/mods"?"active":"")=__("Mods")
        li.nav-item
          a.nav-link(href='/economy', class=currentPage==="/economy"?"active":"")=__('Economy')
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false')=locale.toUpperCase()
          ul.dropdown-menu(aria-labelledby='navbarDropdown')
            each lang in config.SUPPORTED_LANGUAGES
              li
                a.dropdown-item(href='/lang/'+lang.toLowerCase())=lang.toUpperCase()

mixin scripts()
  script(type='text/javascript').
      var gs = gs

  // Bootstrap core JavaScript
  script(src='https://code.jquery.com/jquery-3.6.0.min.js', integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=', crossorigin='anonymous')

  // Bootstrap
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js', integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p', crossorigin='anonymous')
  
  // Custom Scripts
  script(src='https://unpkg.com/leaflet@1.3.4/dist/leaflet.js' integrity='sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==' crossorigin='')
  script(src='/javascripts/script.js')

mixin footer()
  footer.footer.mt-auto.py-3
    .container
      span.text-muted Code & Design: © 2020 
        a(href='http://www.msdigital.ch', target='_blank') msdigital.ch
      span.text-muted.float-end
        | Oasis #{config.VERSION} - Farming Simulator 22 Live Map
